<% @movies.each do |m| %>
	<section class="movie">
		<div class="summary">
			<h2><%= link_to m.title, movie_path(m) %></h2>
			<h3><%= total_gross(m) %></h3>
			<p>
				<%= truncate(m.description, length: 150, separator: ' ') %>
			</p>
		</div>
	</section>
<% end %>
